<h1> <%= @post["title"]%></h1>

<ul>
  <li><%= @post["description"] %></li>
  <li><%= @post["posted_on"] %></li>
  <li><%= @post["place_id"] %></li>
</ul>

<p>
  <a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a>
</p>

<p>
  <a href="/places">Back to all places</a>
</p>
